ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: hsl(0, 33%, 1%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(28, 124, 213);
  }
  


  li{
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(27, 236, 135);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(28, 124, 213);
  }
  .active {
  
  }

 